*{	
 }
body{
	font-family: "Arial";
	font-size: 18px;
	color: black;
  margin: 0;
  }

  .button{
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  border: none;
  padding-top: 10px;
  width: 145px;
  height: 45px;
  }


